body {
  font-family: 'KoHo', sans-serif;
}

a,
.nav-items {
  text-decoration: none;
  color: #ccafb2
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-auto-rows: 20%;
  padding: 1.5em;
  background-color: #6b071b;
  color: #ccafb2;
  font-size: 1.2em;
  text-align: center;
}

#logo-init {
  font-family: 'Parisienne', cursive;
  font-size: 30px;
}

.logo1 {
  justify-self: start;
  text-decoration: none;
}

.logo2 {
  justify-self: end;
  text-decoration: none;
}

img,
#photo {
  height: 20em;
  width: 17em;
}

img,
.proj-pic {
  height: 13em;
  width: 18em;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 0.6em;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper>div {
  background-color: #f4f4f4;
  padding: 1em;
  font-size: 1.2em;
  color: #6b071b;
}

.wrapper>div:nth-child(odd) {
  background-color: rgb(248, 241, 241);
}

.box1,
.name {
  background-color: #ccafb2 !important;
  grid-column: 1/4;
  text-align: center;
  font-family: 'Parisienne', cursive;
  font-size: 2em !important;
  font-weight: bold;
  padding: none;
}

.box2 {
  grid-column: 1/3;
}

.proj-items {
  padding: 1em;
  font-size: 1em;
  text-decoration: none;
  color: #6b071b;
}

.box4 {
  grid-column: 2/4;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.3em;
  grid-auto-rows: minmax(80px, auto);
  color: #6b071b;
  font-size: 1.1em;
}

.grid>div:nth-child(odd) {
  background-color: #f4f4f4;
}

.grid>div:nth-child(even) {
  background-color: #f4f4f4;
}

.col-heading1 {
  grid-column: 1/7;
  grid-row: auto;
  color: #6b071b;
  font-weight: 700;
  font-size: 1.5em;
}

.col-heading2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column: 7/13;
  justify-items: end;
}

.first-col {
  grid-column: 1/3;
}

.second-col {
  grid-column: 3/12;
  font-size: 0.9em;
  padding-top: 0.3em;
}

.third-col {
  grid-column: 12/13;
  font-size: 0.9em;
}

.cursive {
  font-style: italic;
  text-align: center;
}

.nested {
  display: grid;
  grid-template-rows: 1fr 1fr;
}